*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.nick{
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 50px;
  color: rgb(220, 161, 235);
}
header .logo
{
  
  color: #f1ace3;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
}
header .logo:hover
{
color: purple;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  order: 2;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0-;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bb95b0;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 2em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 1px;
  transition: 2s;
}
.text a:hover
{
  letter-spacing: 3px;
  background-color: rgb(173, 114, 173);
  color: antiquewhite;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{

  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Download\ \(4\).jfif");

}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
  padding: 10px;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 34px;
  color: rgb(122, 19, 122);
  background-color: rgb(197, 176, 176);
  border: none;
  border-radius: 10px;
  padding: 0px 5px;
  transition: 3s;



}
.menu ul li a:hover
{
  
  color: #7200becc;
  background-color: #f1ace3;
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
video{
    filter: brightness(25%);
}
.grag{
  order: -1;
  
}
header.nick{
  
  order: 3;
  margin-right: 1000px;
 
  
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapercave.com%2Fhacking-background&psig=AOvVaw1Pfiz01FSM809VUv0bQ8um&ust=1650797120812000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCPjV79WAqvcCFQAAAAAdAAAAABAe");
    /* Font options */
  font-family: Arial, Helvetica, sans-serif;
   
   font-size:40px;
   border-radius: 2cm;
   padding: 20px;
 
 
}
